@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --color-1: #75DDDD;
  --color-2: #508991;
  --color-3: #172A3A;
  --color-4: #1b3244;
  --color-5: #09BC8A;
}
body {
  margin: 0 auto !important;
  padding: 0 auto !important;
  overflow-x: hidden !important;
  font-family: 'Poppins', sans-serif !important;
}
main {
  margin-top: 70px;
  background-color: #f9f9f9 !important;
}